/*General*/
body, html {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
/*Navbar*/
nav {
  display: block;
  width: 100%;
  top: 42px;
  background-color: #1D3557;
  text-align: center;
}
.navItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navItems li {
  display: inline-block;
  padding: 14px 10px;
  font-size: 11px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
}
#preHeader {
  width: 100%;
  height: 42px;
  background-color: #1D3557;
  display: block;
}
#preHeaderLeft {
  float: none;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}
#preHeaderRight {
  display: inline-block;
  float: right;
  margin-right: 20px;
}
/*Logo*/
#logo {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 14px 0;
}
.cardinal {
  width: 30px;
  height: 30px;
  padding: 6px 0;
}
/*Header*/
#firstHeader {
  height: 540px;
  display: block;
  margin-top: 83px;
  width: 100%;
  background-image: url("../img/tower.jpg.jpg");
  background-size: cover;
  background-position: center;
}
.largeTagline {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 7em;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  padding-top: 0;
}
.smallTagline {
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.promoText {
  width: 1000px;
  height: 500px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -500px;
  position: absolute;
}
